body{
    background: url("img/bgd.JPG");
}
#logo{
    position: relative;
    width: 100%;
    font-family: Minion, Georgia, SimSun, serif;
    font-size: 68px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 2px 13px black;
    margin: 100px 0px 50px 0px;
    color: lightyellow;
    -webkit-animation-name: logo-show;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

.carousel-inner{
    width: auto;
    height: 400px;
}

.carousel_container01{
  width:100%;
  height: 420px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
}
.carousel_container02{
  width: 95%;
  height: 400px;
  margin: 0px auto;
  padding: 10px 0px;
}

.body_left{
  float: left;
  width: 70%;
}
.jumbotron{
  margin: 10px 0px;
}

.body_right{
  float: right;
  width: 24%;
}
.Weico{
  border-radius: 10px;
  height: 150px;
  margin:3px 0px 0px 20px;
}

.tip_classify01{
  width: 100%;
  height: 200px;
  background-color:white;
  border-radius: 15px;
  padding: 30px 0px 10px 25px;
  margin: 10px 0px 30px 0px;
}

.nav_pagination{
  width: 300px;
  height: auto;
  clear: both;
  margin: 10px auto;
}

footer{
  clear: both;
}


